body {
  background-color: aliceblue;  
  background-image: url("bggif.gif");
  background-image: url("bggif.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
/*  These next few properties center the card to the middle of the screen!*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
 
#card {
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(6px);    
  border-radius: 2px;
   
  padding: 20px;
  text-align: center;
  width: 600px;
  border: 2px dashed rgba(255, 180, 180, 0.8);  
   
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

#to-santa {
  font-size: 20px;
  color: #c0392b; /* festive red */
  font-style: italic;
  margin-bottom: 15px;
}

/* Main header */
#header {
  color: #b33a3a; /* deep red */
  font-size: 36px;
  margin-bottom: 10px;

  
}

#card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
 
#paragraph {
  color: #5a8f7b; /* soft green */
  font-size: 18px;
}
#tree-image {
  width: 200px;
  margin: 10px 0;
  opacity: 0.8;
}

.row {
  display:flex; 
  justify-content: center;
  gap: 20px;
  margin:20px
}

#from {
  margin-top: 20px;
  font-size: 18px;
  color: #c0392b;
  font-style: italic;
}